body{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  justify-content: center !important;
  align-items: center;
  align-content: center;
}
button{
  width: 150px;
  align-items: center;
  background-color:green;
  color: white;
  height: 30px;
  border-radius: 20px;
}
button:hover{
  background-color: yellow;
  color: black;
}
.form-control{
  width: 100px;
}